
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1d1d1d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color:rgb(254, 171, 16);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.create_friends_game-container {
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#create_room_name {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #e8491e;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #1d1d1d;
    color: #ffffff;
    outline: none;
}

input[type="text"]:focus {
    border-color: #f0a500;
}


.create_room_btn {
    background-color:rgb(254, 171, 16);
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #f0a500;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1rem;
    }
    .form-container {
        width: 90%;
        padding: 20px;
    }
    input[type="text"] {
        width: 90%;
    }
}
