<div id="signInFeedbackContainer">
  <div id="signInFeedBackHolder">
    <h2 id="signInFeedBackTitle">Error</h2>
    <p id="signInFeedBackDesc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis expedita
      perfere
    </p>
    <button type="button" id="hideSignInFeedBack">Ok</button>
  </div>
</div>

<div class="content">
  <div class="background">
    <div class="ball"></div>
  </div>
  <div class="background-circles"></div>
  <div class="signup-container">
    <div class="typing">Ping Pong Sign Up</div>
    <form id="signupform">
      <div class="input-group">
        <input type="text" placeholder="First Name" id="First_Name" />
        <input type="text" placeholder="Last Name" id="Last_Name" />
      </div>
      <input type="text" placeholder="Username" id="Username" />
      <input type="email" placeholder="Email" id="Email" />
      <input type="password" placeholder="Password" id="Password" />
      <input
        type="password"
        placeholder="Confirm Password"
        id="Confirm_Password"
      />
      <button type="submit">Sign Up</button>
    </form>
    <div class="footer">
      <p>Already have an account? <a href="/signin">Sign In</a></p>
    </div>
  </div>
</div>
