    <div class="edit-container">
        <div class="header-container">
            <a href="/profile" class="back-button" title="Return to profile">&#8592;</a>
            <h2>Profile</h2>
        </div>
    </div>
</div>


<div class="page-content">
	<div class="container-chat">
	   <!-- Friend List Slide -->
	   <div class="slide" id="friend-list">
		  <h2>Friends</h2>
		  <!-- search bar -->
		  <div class="wrap">
			 <div class="search">
				<input
				   type="text"
				   class="searchTerm"
				   placeholder="What are you looking for?"
				   />
			 </div>
		  </div>
		  <ul id="friends">
			 <!-- Dynamically populated -->
		  </ul>
	   </div>
	   <!-- Chat Interface Slide -->
	   <div class="slide" id="chat">
		  <div class="chat-window" id="chat-window"></div>
		  <div class="chat-input">
			 <input type="text" id="message-input" placeholder="Type a message...">
			 <button id="send-button" class="button">Send</button>
		  </div>
	   </div>
	   <div class="slide" id="contact-details">
		  <img class="chat_imgprofile" id="contact-image" src="" alt="_">
		  <div id="contact-info">
		  </div>
	   </div>
	</div>
	<div id="particles-js" class="particles"></div>
 </div>
