<div id="signInFeedbackContainer">
  <div id="signInFeedBackHolder">
    <h2 id="signInFeedBackTitle">Error</h2>
    <p id="signInFeedBackDesc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis expedita
      perfere
    </p>
    <button type="button" id="hideSignInFeedBack">Ok</button>
  </div>
</div>

<div class="content">
  <div class="background">
    <div class="ball"></div>
  </div>
  <div class="background-circles"></div>
  <div class="login-container_reset">
    <div class="typing">Reset Password</div>
    <form id="resetPasswordForm">
      <input
        type="password"
        placeholder="New Password"
        id="new_password_reset"
      />
      <input
        type="password"
        placeholder="Confirm New Password"
        id="confirm_password_reset"
      />
      <button type="submit">Reset Password</button>
    </form>
    <div class="footer">
      <p>Remember your password? <a href="/signin">Sign In</a></p>
    </div>
  </div>
</div>
