<div id="signInFeedbackContainer">
  <div id="signInFeedBackHolder">
    <h2 id="signInFeedBackTitle">Error</h2>
    <p id="signInFeedBackDesc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis expedita
      perfere
    </p>
    <button type="button" id="hideSignInFeedBack">Ok</button>
  </div>
</div>
<div class="background">
  <div class="ball"></div>
</div>
<div class="background-circles"></div>
<div class="two-fa-container">
  <div class="typing">Two-Factor Authentication</div>
  <form id="2faForm">
    <div class="code-input-container" id="codeInputContainer">
      <input type="text" maxlength="1" class="code-input" data-index="0" />
      <input type="text" maxlength="1" class="code-input" data-index="1" />
      <input type="text" maxlength="1" class="code-input" data-index="2" />
      <input type="text" maxlength="1" class="code-input" data-index="3" />
      <input type="text" maxlength="1" class="code-input" data-index="4" />
      <input type="text" maxlength="1" class="code-input" data-index="5" />
      <input type="text" maxlength="1" class="code-input" data-index="6" />
      <input type="text" maxlength="1" class="code-input" data-index="7" />
    </div>
    <button type="submit">Verify</button>
  </form>
</div>
