<div class="content">
  <!-- ***** Header Area Start ***** -->
  <!-- <div class="background-circles"></div> -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/profile" class="logo">
              <img src="images/TR-logo.png" alt="" />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li>
                <a href="/home" 
                  >Home <img src="images/home.png" alt=""
                /></a>
              </li>
              <li>
                <a href="/profile"
                  >Profile <img src="images/profile-header.jpg" alt=""
                /></a>
              </li>
              <li>
                <a href="/friend"
                  >Friends <img src="images/friends-icon.png" alt=""
                /></a>
              </li>
              <li>
                <a href="/chat"
                  >Messages <img src="images/message.png" alt=""
                /></a>
              </li>
              <li>
                <a href="/edit"
                  >Settings <img src="images/settings.png" alt=""
                /></a>
              </li>
              <li>
                <a href="/" id="logoutLink">
                  Log out <img src="images/logout.png" alt="logout" />
                </a>
              </li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Ping Pong</h6>
                  <h4><em>Ready</em> For A Gaming Surprise? Click 'Play'</h4>
                  <div class="main-button">
                    <a href="browse.html">Play</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->
          <!-- ***** Games mode Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Games</em> Mode</h4>
                </div>
                <div class="container">
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="../../images/pingpong.png" />
                        <div class="content-wrapper">
                          <p>CLASSIC</p>
                          <a
                            href="https://assets.entrepreneur.com/content/3x2/2000/20180703190744-rollsafe-meme.jpeg"
                          >
                            <button class="button">Start</button>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img src="../../images/leaderboard.jpg" />
                        <div class="content-wrapper">
                          <p>TOURNAMENT</p>
                            <button id="hometotournamentButton" class="button">Start</button>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img src="../../images/friends.png" />
                        <div class="content-wrapper">
                          <p>FREINDS MODE</p>
                            <button class="button" id="friendsModeButton">Start</button>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img src="../../images/tictactoe.png" />
                        <div class="content-wrapper">
                          <p>TIC TAC TOE</p>
                          <a href="">
                            <button class="button" id="startButton">
                              Start
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Games Mode End ***** -->
        </div>
      </div>
    </div>
  </div>
</div>
