<div class="content">
  <!-- ***** Header Area Start ***** -->
  <!-- <div class="background-circles"></div> -->

  <!-- ***** Header Area End ***** -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content_home">
          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Ping Pong</h6>
                  <h4><em>Ready</em> For A Gaming Surprise? Click 'Play'</h4>
                  <div class="main-button">
                    <a href="browse.html">Play</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->
          <!-- ***** Games mode Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Games</em> Mode</h4>
                </div>
                <div class="container">
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="../../images/out.png" />
                        <div class="content-wrapper">
                          <p>LOG OUT</p>
                          <a
                            href="https://assets.entrepreneur.com/content/3x2/2000/20180703190744-rollsafe-meme.jpeg"
                          >
                            <button id="logoutLink" class="button"><<<<</button>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img src="../../images/leaderboard.jpg" />
                        <div class="content-wrapper">
                          <p>TOURNA...</p>
                            <button id="hometotournamentButton" class="button">Start</button>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img src="../../images/friends.png" />
                        <div class="content-wrapper">
                          <p>FREINDS MODE</p>
                            <button class="button" id="friendsModeButton">Start</button>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <img src="../../images/tictactoe.png" />
                        <div class="content-wrapper">
                          <p>TIC TAC TOE</p>
                          <a href="">
                            <button class="button" id="startButton">
                              Start
                            </button>
                          </a>
                        </div>
                      </div>


                      <div class="swiper-slide">
                        <img src="../../images/chat.png" />
                        <div class="content-wrapper">
                          <p>CHAT</p>
                          <a href="">
                            <button class="button" id="chat">
                              >><<
                            </button>
                          </a>
                        </div>
                      </div>

                      <div class="swiper-slide">
                        <img src="../../images/stt.png" />
                        <div class="content-wrapper">
                          <p>SET.GS</p>
                          <a href="">
                            <button class="button" id="edit">
                              >><<
                            </button>
                          </a>
                        </div>
                      </div>

                      <div class="swiper-slide">
                        <img id="profilePhoto" src="" class="profile-photo" />
                        <div class="content-wrapper">
                          <p>PROFILE</p>
                          <a href="">
                            <button class="button" id="startButton_Profile">
                              >><<
                            </button>
                          </a>
                        </div>
                      </div>



                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Games Mode End ***** -->
        </div>
      </div>
    </div>
  </div>
</div>
