<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/home" class="logo">
            <img src="images/TR-logo.png" alt="" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li>
              <a href="/home">Home <img src="images/home.png" alt="" /></a>
            </li>
            <li>
              <a href="/profile"
                >Profile <img src="images/profile-header.jpg" alt=""
              /></a>
            </li>
            <li>
              <a href="/friend"
                >Friends <img src="images/friends-icon.png" alt=""
              /></a>
            </li>
            <li>
				<a href="/chat"
                >Messages <img src="images/message.png" alt=""
				/></a>
            </li>
			<li>
				<a href="/deblock_page"
				>List Block <img src="images/friends-icon.png" alt=""
				/></a>
			</li>
            <li>
				<a href="/edit"
                >Settings <img src="images/settings.png" alt=""
              /></a>
            </li>
            <li>
              <a href="/" id="logoutLink">
                Log Out <img src="images/logout.png" alt="logout" />
              </a>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="background">
  <div class="fire"></div>
  <div class="fire"></div>
  <div class="fire"></div>
</div>
<div class="page-content">
  <div class="container-friend">
    <button class="button">Switch to Friend Requests</button>
    <div class="search-container-friend">
      <input type="text" id="search-input" placeholder="Search..." />
    </div>
    <div id="user-list" class="user-list"></div>
  </div>
</div>
