<div id="signInFeedbackContainer">
  <div id="signInFeedBackHolder">
    <h2 id="signInFeedBackTitle">Error</h2>
    <p id="signInFeedBackDesc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis expedita
      perfere
    </p>
    <button type="button" id="hideSignInFeedBack">Ok</button>
  </div>
</div>

<div class="content">
  <div class="background">
    <div class="ball"></div>
  </div>
  <div class="background-circles"></div>
  <div class="login_container_sign">
    <div class="typing_sign">Ping Pong Sign In</div>
    <form id="loginForm">
      <input type="text" placeholder="Username" id="login_user" />
      <input type="password" placeholder="Password" id="login_password" />
		  <button type="submit">Sign In</button>
    </form>
    <div class="auth-buttons" id="remote_login">
      <button class="google">
        <img src="./../../images/google.svg" alt="Google" />
        Sign In with Google
      </button>
      <button class="inta">
        <img src="./../../images/intra.png" alt="42 Intra" />
        Sign In with 42 Intra
      </button>
    </div>
    <div class="footer">
      <a href="/password_reset" class="forgot-password">Forgot Password?</a>
      <br />
      <br />
      <p>you don't have an account?<a href="/signup">Sign Up</a></p>
      <h1 id="message" class="message"></h1>
    </div>
  </div>
</div>
